.title {
    line-height: 1.5em;
}

.category {
    border-right: solid #333 3px;
    border-bottom: solid #333 3px;
    padding: 3px;
    margin-right: 3px;
}

article {
    margin-top: 1em;
}

a code {
    color: #007bff;
    text-decoration: none;
}

p {
    line-height: 2em;
}

p > code {
    background-color: #f0f0f0;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #bbb;
    white-space: nowrap;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition:target  {
    background-color: #f0f0f0;
}