<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="/marx.min.css">
    <link rel="stylesheet" href="/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    
    {% if config.generate_rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    <main>
      <h1><a href="/">{{ config.title }}</a></h1>

      {% block content %}
      <div class="posts">
        {% for page in section.pages %}
          <section>
            <a class='header-link' href="{{ page.path }}">
              <h2 class="title"><span class="category">{{ page.taxonomies["categories"][0] }}</span>{{ page.title }}</h2>
            </a>
            {% if page.date %}
              <span>{{ page.date | date(format="%d %B %Y") }}</span>
            {% endif %}
          </section>
        {% endfor %}
      </div>
      {% endblock content %}

    <footer style="display: grid; grid-template-columns: 1fr 1fr">
      <div style="grid-row-end: span 3; border-right: 1px solid rgba(0,0,0,.12); display: grid; grid-template-rows: 1fr 1fr 1fr;">
        <div style="grid-row: 2; font-weight: 500; font-size: 20px;">{{ config.title }}</div>
      </div>
      <div style="grid-column: 2">
        <a href="https://github.com/zachreizner">
          <i class="fa fa-github"></i>
          zachreizner
        </a>
      </div>
      <div style="grid-column: 2">
        <a href="https://gitlab.com/zachreizner">
          <i class="fa fa-gitlab"></i>
          zachreizner
        </a>
      </div>
      <div  style="grid-column: 2">
        <a href="https://www.buymeacoffee.com/zacr">
          <i class="fa fa-coffee"></i>
          Buy Me A Coffee
        </a>
      </div>
    </footer>
    <script src="/script.js" async></script>
    </main>
  </body>
</html>
