{% extends "index.html" %}

{% block content %}
<section>
  <div>
    <h2 class="title"><span class="category">{{ page.taxonomies["categories"][0] }}</span>{{ page.title }}</h2>
    {% if page.date %}
    <span>{{ page.date | date(format="%d %B %Y") }}</span>
    {% endif %}
  </div>
  <article>
    {{ page.content | safe }}
  </article>
</section>
{% endblock content %}